@model IEnumerable<Persona5Mvc.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Persona 5 Compendium</h2>

<p>
    @using (Html.BeginForm("Index", "Personas", FormMethod.Get))
    {
        <p>
            Name: @Html.TextBox("personaName")
            Arcane: @Html.DropDownList("personaArcana", "All")
            <input type="submit" value="Fitler"/>
        </p>
    }
</p>


@Html.Partial("_IndexTable")